body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	heighr: 100 vh;
	background-color: #f0f0f0
	margin: 0;
}

.calculator-container {
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	background-color: #fff;
    	padding: 20px;
    	border-radius: 8px;
    	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    	max-width: 400px;
    	width: 100%;
}

h1{
	color: #333;
	text-align: center;
	margin-bottom: 20px;
}

form {
	width: 100%;
   	text-align: center;
    	display: flex;
    	flex-direction: column;
    	align-items: center;	
}

input, button {
    	padding: 10px;
    	margin: 10px 0;
    	width: 100%;
    	font-size: 1.2em;
    	font-family: "Courier New", Courier, monospace; 
    	box-sizing: border-box;
    	text-align: right; 
}
button {
    	background-color: #e0e0e0;
    	color: #333;
    	border: 1px solid #ccc;
    	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
    	background-color: #d0d0d0;
}	